
{#<div id="carousel-studio" class="jumbotron" data-ride="carousel">#}
    {#<ol class="carousel-indicators">#}
        {#<li data-target="#carousel-studio" data-slide-to="0" class="active"></li>#}
        {#&#123;&#35;<li class="" data-target="#carousel-studio" data-slide-to="1"></li>#}
        {#<li class="" data-target="#carousel-studio" data-slide-to="2"></li>&#35;&#125;#}
    {#</ol>#}
    {#<div class="carousel-inner">#}
        {#<div class="item active">#}
            {#<img src="{{ asset('bundles/stcbase/images/Large1.png') }}" data-src="" alt="First slide">#}
        {#</div>#}
        {#&#123;&#35;<div class="item">#}
            {#<img src="{{ asset('bundles/stcbase/images/Med1.JPG') }}" data-src="" alt="Second slide">#}
        {#</div>#}
        {#<div class="item">#}
            {#<img src="{{ asset('bundles/stcbase/images/Med3.JPG') }}" data-src="" alt="Third slide">#}
        {#</div>&#35;&#125;#}
    {#</div>#}
    {#&#123;&#35;<a class="left carousel-control" href="#carousel-studio" data-slide="prev">#}
        {#<span class="glyphicon glyphicon-chevron-left"></span>#}
    {#</a>#}
    {#<a class="right carousel-control" href="#carousel-studio" data-slide="next">#}
        {#<span class="glyphicon glyphicon-chevron-right"></span>#}
    {#</a>&#35;&#125;#}
{#</div>#}

