{% extends 'StcBaseBundle::layout.html.twig' %}
{% block title %}Studio Reservation App{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/stcbase/css/main.css') }}" rel="stylesheet" />
{% endblock %}
{% block head %}
    {{ parent() }}
    <script>
        $(function() {
            $( "#datepicker" ).datepicker({
                inline: true,
                onSelect: function(date) {
                    window.location = location.href+'/display/reservation?date='+date.replace(/\//g,'');
                }
            });
            $( "#selectable").selectable();
            $( "#selectable2").selectable();
            $( "#selectable3").selectable();
            $( ".header-no-select" ).selectable( "disable" );
        });

    </script>
{% endblock %}
{% block content %}
    <!-- Datepicker -->
    <h2 class="demoHeaders">Datepicker</h2>
    <div class="panel">
        <div id="datepicker"></div>
    </div>
{% endblock %}