<style>
/*    #feedback { font-size: 1.4em; }
    #selectable .ui-selecting { background: #FECA40; }
    #selectable .ui-selected { background: #F39814; color: white; }
    #selectable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
    #selectable { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }*/
</style>
<script>
    //$('#selectable').selectable({});
/*    $(function() {
        $( "#selectable" ).selectable({
            stop: function() {
                var result = $( "#select-result" ).empty();
                $( ".time_cell", this ).each(function() {
                    var index = $( "#selectable td" ).index( this );
                    result.append( " #" + ( index + 1 ) );
                });
            }
        });
    });*/
</script>
<ol id="selectable">
<table border="1" class="table">
    <tr class=''><td>		        </td>	<td>Studio1</td>			                <td>Studio2</td>			                <td>Studio3</td>                         </tr>
    <tr class=''><td>	12:00 PM	</td>	<td	 class='' id='1_1200'>	</td>	<td	 class='' id='2_1200'>	</td>	<td	 class='' id='3_1200'>	</td></tr>
    <tr class=''><td>	12:30 PM	</td>	<td	 class='' id='1_1230'>	</td>	<td	 class='' id='2_1230'>	</td>	<td	 class='' id='3_1230'>	</td></tr>
    <tr class=''><td>	1:00 PM	    </td>	<td	 class='' id='1_100'>	</td>	<td	 class='' id='2_100'>	</td>	<td	 class='' id='3_100'>	</td></tr>
    <tr class=''><td>	1:30 PM	    </td>	<td	 class='' id='1_130'>	</td>	<td	 class='' id='2_130'>	</td>	<td	 class='' id='3_130'>	</td></tr>
    <tr class=''><td>	2:00 PM	    </td>	<td	 class='' id='1_200'>	</td>	<td	 class='' id='2_200'>	</td>	<td	 class='' id='3_200'>	</td></tr>
    <tr class=''><td>	2:30 PM	    </td>	<td	 class='' id='1_230'>	</td>	<td	 class='' id='2_230'>	</td>	<td	 class='' id='3_230'>	</td></tr>
    <tr class=''><td>	3:00 PM	    </td>	<td	 class='' id='1_300'>	</td>	<td	 class='' id='2_300'>	</td>	<td	 class='' id='3_300'>	</td></tr>
    <tr class=''><td>	3:30 PM	    </td>	<td	 class='' id='1_330'>	</td>	<td	 class='' id='2_330'>	</td>	<td	 class='' id='3_330'>	</td></tr>
    <tr class=''><td>	4:00 PM	    </td>	<td	 class='' id='1_400'>	</td>	<td	 class='' id='2_400'>	</td>	<td	 class='' id='3_400'>	</td></tr>
    <tr class=''><td>	4:30 PM	    </td>	<td	 class='' id='1_430'>	</td>	<td	 class='' id='2_430'>	</td>	<td	 class='' id='3_430'>	</td></tr>
    <tr class=''><td>	5:00 PM	    </td>	<td	 class='' id='1_500'>	</td>	<td	 class='' id='2_500'>	</td>	<td	 class='' id='3_500'>	</td></tr>
    <tr class=''><td>	5:30 PM	    </td>	<td	 class='' id='1_530'>	</td>	<td	 class='' id='2_530'>	</td>	<td	 class='' id='3_530'>	</td></tr>
    <tr class=''><td>	6:00 PM	    </td>	<td	 class='' id='1_600'>	</td>	<td	 class='' id='2_600'>	</td>	<td	 class='' id='3_600'>	</td></tr>
    <tr class=''><td>	6:30 PM	    </td>	<td	 class='' id='1_630'>	</td>	<td	 class='' id='2_630'>	</td>	<td	 class='' id='3_630'>	</td></tr>
    <tr class=''><td>	7:00 PM	    </td>	<td	 class='' id='1_700'>	</td>	<td	 class='' id='2_700'>	</td>	<td	 class='' id='3_700'>	</td></tr>
    <tr class=''><td>	7:30 PM	    </td>	<td	 class='' id='1_730'>	</td>	<td	 class='' id='2_730'>	</td>	<td	 class='' id='3_730'>	</td></tr>
    <tr class=''><td>	8:00 PM	    </td>	<td	 class='' id='1_800'>	</td>	<td	 class='' id='2_800'>	</td>	<td	 class='' id='3_800'>	</td></tr>
    <tr class=''><td>	8:30 PM	    </td>	<td	 class='' id='1_830'>	</td>	<td	 class='' id='2_830'>	</td>	<td	 class='' id='3_830'>	</td></tr>
    <tr class=''><td>	9:00 PM	    </td>	<td	 class='' id='1_900'>	</td>	<td	 class='' id='2_900'>	</td>	<td	 class='' id='3_900'>	</td></tr>
    <tr class=''><td>	9:30 PM	    </td>	<td	 class='' id='1_930'>	</td>	<td	 class='' id='2_930'>	</td>	<td	 class='' id='3_930'>	</td></tr>
    <tr class=''><td>	10:00 PM	</td>	<td	 class='' id='1_1000'>	</td>	<td	 class='' id='2_1000'>	</td>	<td	 class='' id='3_1000'>	</td></tr>
    <tr class=''><td>	10:30 PM	</td>	<td	 class='' id='1_1030'>	</td>	<td	 class='' id='2_1030'>	</td>	<td	 class='' id='3_1030'>	</td></tr>
    <tr class=''><td>	11:00 PM	</td>	<td	 class='' id='1_1100'>	</td>	<td	 class='' id='2_1100'>	</td>	<td	 class='' id='3_1100'>	</td></tr>
    <tr class=''><td>	11:30 PM	</td>	<td	 class='' id='1_1130'>	</td>	<td	 class='' id='2_1130'>	</td>	<td	 class='' id='3_1130'>	</td></tr>

</table>
</ol>