body {
        background: none repeat scroll 0 0;
}
.panel {
    width: 750px;
    height: 550px;
    border: 1px #000000 solid;
    float: left;
}
.reservation_table {
    margin-top: 100px;
    float: left;
}
.daychart {
    float:left;
    margin-top: 100px;
}
#res_table{
    width: 515px;
    height: 400px;
    overflow-y:scroll;
    padding-bottom:1px;
    padding-left:20px;
    padding-right:15px;
}
.headCol {
    position:absolute;
    width:5em;
    left:0;
    top:auto;
    border-right: 0px none black;
    border-top-width:3px;
    margin-top:-3px;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

#header-no-select { list-style-type: none; margin: 0; padding: 0; }
#header-no-select tr { height: 34px;  }

.ui-selecting {
    background-color: #F39814;
}