body {
    background: lightslategrey;
}

.panel {
    width: 750px;
    height: 550px;
    border: 1px #000000 solid;
    float: left;
}

.reservation_table {
    margin-top: 100px;
    float: left;
}

.daychart {
    float:left;
    margin-top: 100px;

}

#res_table {
    width: 400px;
    height: 400px;
    overflow-y:scroll;
    margin-left:5em;
    padding-bottom:1px;
    background: white;
}

.headCol {
    position:absolute;
    width:5em;
    left:0;
    top:auto;
    border-right: 0px none black;
    border-top-width:3px;
    margin-top:-3px;
}