.panel {
    width: 750px;
    height: 550px;
    border: 1px #000000 solid;
    float: left;
}

.reservation_table {
    margin-top: 100px;
    float: left;
}

.daychart {
    float:left;
    margin-top: 100px;
}